.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 1rem;
    gap: 1em;
    margin: 0 auto;
    box-sizing: border-box;
    text-align: center;
}

#product-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#product-price {
    font-size: 28px;
    font-weight: 600;
}

#quantity-control {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 1em;
}

.quantity-button {
    cursor: pointer
}

#quantity-number {
    font-size: 28px;
}